[app]
name = "mpaas"
key  = "this is your app key"

[app.http]
host = "127.0.0.1"
port = "8080"

[app.grpc]
host = "127.0.0.1"
port = "18080"

[mcenter]
address = "127.0.0.1:18010"
client_id = "M3tA2aRnBux2pwO45itbcUAG"
client_secret = "UzMbIgSqLmzHrFPi2g5aXMqVPcHkoYhl"

[mongodb]
endpoints = ["127.0.0.1:27017"]
database = "mpaas"

[log]
level = "debug"

[log.file]
enable = true
file_path = "logs/app.log"

[jaeger]
endpoint = "http://localhost:14268/api/traces"