FEISHU_BOT_URL=
DINGDING_BOT_URL=
WECHAT_BOT_URL=

DEPLOY_ID=""
JOB_ID=""
DEPLOY_JOB_ID=""
CICD_PIPELINE_ID=""
JOB_TASK_ID=""
JOB_TASK_TOKEN=""
PIPELINE_TASK_ID=""

APPROVAL_ID=""
BUILD_CONFIG_ID=""
SERVICE_ID=""

DEVCLOUD_DEPLOY_APPROVAL_ID=""

MCENTER_BUILD_TASK_ID=""
MCENTER_BUILD_TASK_TOKEN=""
MCENTER_DEPLOY_TASK_ID=""
MCENTER_DEPLOY_TASK_TOKEN=""
MCENTER_DEPLOY_ID="mcenter_v1"
MCENTER_SERVICE_ID="11fdd50a"
MCENTER_BUILD_ID=cgj7moea0brq8i3tg7e0
MCENTER_GRPC_ADDRESS="127.0.0.1:18010"
MCENTER_CLINET_ID=""
MCENTER_CLIENT_SECRET=""

