{
  "config": {
    "wide_screen_mode": true,
    "enable_forward": true,
    "update_multi": true
  },
  "header": {
    "template": "wathet",
    "title": {
      "tag": "plain_text",
      "content": "{{.Title}}"
    }
  },
  "elements": [
    {
      "tag": "div",
      "fields": [
        {
          "is_short": true,
          "text": {
            "tag": "lark_md",
            "content": "**申请人：**{{.CreateBy}}"
          }
        }
      ]
    },
    {
      "tag": "markdown",
      "content": "**执行人：**{{.Operator}}"
    },
    {
      "tag": "markdown",
      "content": "**审核人：**{{.Auditor}}\n"
    },
    {
      "tag": "column_set",
      "flex_mode": "none",
      "background_style": "grey",
      "columns": [
        {
          "tag": "column",
          "width": "weighted",
          "weight": 1,
          "vertical_align": "top",
          "elements": [
            {
              "tag": "column_set",
              "flex_mode": "none",
              "background_style": "default",
              "columns": [
                {
                  "tag": "column",
                  "width": "weighted",
                  "weight": 1,
                  "vertical_align": "top",
                  "elements": [
                    {
                      "tag": "markdown",
                      "content": "**执行流程：**{{.PipelineDesc}}"
                    },
                    {
                      "tag": "markdown",
                      "content": "**执行方式：**{{.ExecType}}"
                    },
                    {
                      "tag": "markdown",
                      "content": "**执行变量：**{{.ExecVars}}"
                    }
                  ]
                }
              ],
              "horizontal_spacing": "default"
            }
          ]
        }
      ]
    },
    {
      "tag": "action",
      "actions": [
        {{- if .ShowPassButton}}
        {
          "tag": "button",
          "text": {
            "tag": "plain_text",
            "content": "{{.PassButtonName}}"
          },
          "type": "primary",
          "value": {
            "approval_id": "{{.ApprovalId}}",
            "status": "PASSED"
          }
        }{{- end}}{{- if .ShowDenyButton}},
        {
          "tag": "button",
          "text": {
            "tag": "plain_text",
            "content": "{{.DenyButtonName}}"
          },
          "type": "danger",
          "value": {
            "approval_id": "{{.ApprovalId}}",
            "status": "DENY"
          }
        }
        {{- end}}
      ]
    },
    {
      "tag": "note",
      "elements": [
        {
          "tag": "plain_text",
          "content": "{{.Note}}"
        }
      ]
    }
  ]
}